<div class="container-fluid">
  <form [formGroup]="formPost" *ngIf="formPost" (ngSubmit)="onSubmit()">


    <div class="form-group">
      <label for="titre">Titre</label>
      <input type="text" class="form-control" formControlName="titre">
    </div>
    <div class="form-group">
      <select class="custom-select">
        <option value="">Choisi une catégorie</option>
        <option *ngFor="let categories of categories">{{ categories }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" formControlName="description">
    </div>
    <div class="form-group">
      <label>Date</label>
      <input type="text" class="form-control" formControlName="date">
    </div>
    <button class="btn btn-primary" type="submit">update</button>
  </form>
</div>